* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: "REM", sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.gameScreen {
  background-color: wheat;
  width: 600px;
  border-radius: 10px;
  height: 285px;

  padding: 30px;
}

.players {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.results {
  text-align: center;
}

.gameScreen p {
  font-size: 20px;
  padding: 5px;
}

.gameUI {
  padding-top: 5vh;
}

.gameUI button {
  font-weight: bold;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
